body{
  background-color: lightblue;
}

.App {
  text-align: center;
}

.App-header {
  background-color: darkblue;
  margin: 0 auto;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr {
  background-color: #e3ecfd;
}